<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include ("../partials/head") %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="icon" href="/image/logo-digital-games.ico">
    </head>

    <body>

        <!-- HEADER -->
        <%- include ("../partials/header") %>

            <main>
                <!-- Contenedor Titulo -->
                <section class="contenedor-titulo">
                    <h2 class="titulo-carrito">SOBRE EL JUEGO</h2>
                </section>
                <!-- Call of Duty -->
                <article class="Producto">
                    <!-- Imagen Juego -->
                    <div class="imagen-titulo-caract-container">
                        <div class="contenedor-imagen">
                            <img src="/image/products/call-of-duty.jpg" alt="imagen" class="imagen">
                        </div>
                        <!-- Titulo -->
                        <div class="titulo-caracteristicas-conteiner">
                            <div class="titulo-detalle-product">
                                <h3>Call of Duty Modern Warfare</h3>
                            </div>
                            <!-- Caracteristicas -->
                            <div class="contenedor-caracteristicas">
                                <h2>Tambien para:</h2>
                                <p class="consolas">Ps4, PS5, XBOX, NINTENDO SWITCH</p>
                                <h2>Género:</h2>
                                <p class="genero">Disparos en primera persona</p>
                                <h2>Modo de juego:</h2>
                                <p class="jugadores">Un jugador, multijugador y cooperativo</p>
                                <h2>Idioma:</h2>
                                <p class="idioma"> en español y voces en español</p>
                                <h2>Lanzamiento:</h2>
                                <p class="lanzamiento"> 15 de septiembre de 2017</p>
                            </div>
                        </div>
                    </div>
                    <!-- Botones -->
                    <div class="botones-product-detail">
                        <!-- boton volver -->
                        <a class="seguir-comprando" href="/"><button type="submit">Seguir comprando</button></a>
                        <!-- <a class="volver" href="/"><input class="boton-volver" type="reset" name="reset" id="reset"></a> -->
                        <!-- boton agregar al carrito -->
                        <a class="carrito" href="/productCart"><button type="submit">Add to cart</button></a>
                    </div>
                    <div class="description-product-detal-container">
                        <!-- Descripcion -->
                        <h2>Call of Duty: Modern Warfare es un videojuego de disparos en primera persona desarrollado
                            por
                            Infinity Ward y publicado por Activision. Es el decimosexto juego de la saga Call of Duty y
                            es
                            un reinicio de la serie Modern Warfare. Fue lanzado el 25 de octubre de 2019.</h2>
                    </div>
                    <!-- Contenedor Fotos -->
                    <section class="contenedor-titulo">
                        <h2 class="titulo-carrito">CAPTURAS</h2>
                    </section>
                    <div class="capturas-detail">
                        <img src="/image/productDetail/call-of-duty/call-of-duty-mw.jpg" alt="imgagen" class="imagen">
                        <img src="/image/productDetail/call-of-duty/call-of-duty-mw2.jpg" alt="imgagen" class="imagen">
                        <img src="/image/productDetail/call-of-duty/call-of-duty-mw3.jpg" alt="imgagen" class="imagen">
                        <img src="/image/productDetail/call-of-duty/call-of-duty-mw4.jpg" alt="imgagen" class="imagen">

                    </div>
                    <div class="videoDetail-conteiner">
                        <iframe src="https://www.youtube.com/embed/r72GP1PIZa0" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <!-- Botones -->
                    <div class="botones-product-detail">
                        <!-- boton volver -->
                        <a class="seguir-comprando" href="/"><button type="submit">Seguir comprando</button></a>
                        <!-- <a class="volver" href="/"><input class="boton-volver" type="reset" name="reset" id="reset"></a> -->
                        <!-- boton agregar al carrito -->
                        <a class="carrito" href="/productCart"><button type="submit">Add to cart</button></a>
                    </div>
                </article>




            </main>

            <!-- FOOTER -->
            <%- include ("../partials/footer") %>

    </body>

</html>