<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include ("../partials/head") %>
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="icon" href="image/logo-digital-games.ico">
    </head>

    <body class="body-cart">

        <!-- HEADER -->
        <%- include ("../partials/header") %>

            <!-- Carrito de compras -->
            <main class="main-carrito">
                <!-- Contenedor Titulo -->
                <div class="Titulo">
                    <section class="contenedor-titulo">
                        <h3 class="titulo-carrito">Mi Carrito</h3>
                    </section>
                    <!-- Contenedor de articulos -->
                    <section>
                        <!-- Call of Duty -->
                        <article class="card-product-cartshop">
                            <div class="contenedor-imagen">
                                <img src="/image/products/call-of-duty.jpg" alt="imagen" class="imagen">
                            </div>
                            <div class="main-cartshop">
                                <!-- Descripcion -->
                                <div class="contenedor-descripcion">
                                    <h4 class="nombre">CALL OF DUTY
                                    </h4>
                                </div>
                                <div class="cant-precios-container">
                                    <!-- Cantidad de articulos -->
                                    <div class="contenedor-cantidad">
                                        <label for="cantidad"></label>
                                        <input type="number" id="tentacles" name="cantidad" min="1" max="50" step="1" value="1"
                                        >
                                    </div>
                                    <!-- Precio -->
                                    <div class="contenedor-precio">
                                        <p class="total">Total</p>
                                        <p class="precio-producto">$6.770</p>
                                        <!-- Contenedor Basura -->
                                        <button><i class="fas fa-trash-alt icon-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- SPIDERMAN -->
                        <article class="card-product-cartshop">
                            <div class="contenedor-imagen">
                                <img src="/image/products/SPIDERMAN.jpg" alt="imagen" class="imagen">
                            </div>
                            <div class="main-cartshop">
                                <!-- Descripcion -->
                                <div class="contenedor-descripcion">
                                    <h4 class="nombre">SPIDER-MAN</h4>
                                </div>
                                <div class="cant-precios-container">
                                    <!-- Cantidad de articulos -->
                                    <div class="contenedor-cantidad">
                                        <label for="cantidad"></label>
                                        <input type="number" id="tentacles" name="cantidad" min="1" max="50" step="1" value="1"
                                        >
                                    </div>
                                    <!-- Precio -->
                                    <div class="contenedor-precio">
                                        <p class="total">Total</p>
                                        <p class="precio-producto">$9.735</p>
                                        <!-- Contenedor Basura -->
                                        <button><i class="fas fa-trash-alt icon-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <!-- Contenedot Total -->
                        <div class="contenedor-total-pedido">
                            <div class="tota-precio-final">
                                <p class="total">Total</p>
                                <p class="precio" id="precio-total">$16.505</p>
                            </div>
                            <!-- Contenedor Botones -->
                            <div class="contenedor-botones">
                                <a href="/" class="boton-pago ">Continuar compra</a>
                                <a href="/" class="ver-mas-produc">ver mas productos</a>
                            </div>

                        </div>

                    </section>
                </div>
            </main>

            <!-- FOOTER -->
            <%- include ("../partials/footer") %>
    </body>

</html>