<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tipografia -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!-- Estilos Propios -->
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="image/logo-digital-games.ico">

    <!-- Titulo -->
    <title>Digital Game</title>

</head>

<body>

    <!-----------------HEADER-------------------->
    <header>


        <div class="header-conteiner-2">
            <div class="logo-burger-cartShop-loginButton-conainer">

                <div class="burguer-logo-container">
                    <!-- menu hamburguesa -->
                    <div class="burger-container">
                        <i class="fas fa-bars icon"></i>
                    </div>

                    <!-- logo con nombre  -->
                    <div class="logo-container">
                        <a href="/"> <img src="image/logo-nombre.png" alt="logo digital games"></a>
                    </div>
                </div>
                <div class="navbar-iconCart-iconUser">
                    <!-- nav search icon button -->
                    <form class="search-container">
                        <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                        <input class="input-search search-nav" type="text" placeholder="  Buscar productos, marcas...">
                        <div class="button-conteiner">
                            <!-- boton de busqueda  -->
                            <button><i class="fas fa-search icon"></i></button>
                        </div>
                    </form>

                    <!-- iconos carrito y login -->
                    <div class="carIcon-loginIcon-container">
                        <div class="cart-icon-conteiner">
                            <a href="#"><i class="fas fa-shopping-cart icon"></i></a>
                        </div>
                        <div class="login-icon-container icon">
                            <a href="/login"> <i class="fas fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista De Opciones -->
        <div class="menu-contenedor-breackpoint">
            <div class="menu-atajos">
                <a href="/">HOME</a>

                <a href="#">CATEGORIAS</a>
                <a href="#">OFERTAS</a>

                <a href="#">NUEVOS LANZAMIENTOS</a>
                <a href="#">MAS DESCARGADOS</a>
                <div class="cart-register-login-breackpoint">
                    <a href="/carrito"><i class="fas fa-shopping-cart icon-cart-responsive"></i></a>
                    <p><br> </p>
                    <a class="links-breackpoint" href="/register">REGISTRATE</a>
                    <p>/</p>
                    <a class="links-breackpoint" href="/login">INICIA SESION</a>

                </div>

            </div>
        </div>

    </header>
    <!-----------------FIN HEADER-------------------->

    <!-- Carrito de compras -->
    <main>
        <!-- Contenedor Titulo -->
        <div class="Titulo">
        <section class="contenedor-titulo">
            <h3 class="titulo-carro">Carrito</h3>
        </section>
        <!-- Contenedor de articulos -->
        <section>
            <!-- Productos -->
            <article class="Producto">
                <div class="contenedor-imagen">
                    <img src="/image/products/call-of-duty.jpg" alt="imagen" class="imagen">
                </div>
                <!-- Descripcion -->
            <div class="contenedor-informacio-producto">
                <div class="contenedor-descripcion">
                    <h4 class="nombre">CALL OF DUTY
                    </h4>
                </div>
                <!-- Precio -->
                <div class="contenedor-precio">
                    <p class="precio-producto">$3500</p>
                </div>
                <!-- Cantidad de articulos -->
                <div class="contenedor-cantidad">
                    <input type="number" class="cantidad" value="1">
                </div>
            </div>
                <!--    Subtotal -->
                <div class="contenedor-subtotal">
                        <p class="precio-subtotal">$3500</p>
                </div>
                <!-- Contenedor Basura -->
                <div class="contenedor-basura ">
                    <button><a href="/carrtio"><i class="fa-solid fa-trash"></i></a></button>
                </div>             
            </article>
        </section>
        </div>
    </main>
</body>

</html>