<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tipografia -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!-- Estilos Propios -->
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="image/logo-digital-games.ico">

    <!-- Titulo -->
    <title>Digital Game</title>

</head>

<body>

    <!-----------------HEADER-------------------->
    <header>


        <div class="header-conteiner-2">
            <div class="logo-burger-cartShop-loginButton-conainer">

                <div class="burguer-logo-container">
                    <!-- menu hamburguesa -->
                    <div class="burger-container">
                        <i class="fas fa-bars icon"></i>
                    </div>

                    <!-- logo con nombre  -->
                    <div class="logo-container">
                        <a href="/"> <img src="image/logo-nombre.png" alt="logo digital games"></a>
                    </div>
                </div>
                <div class="navbar-iconCart-iconUser">
                    <!-- nav search icon button -->
                    <form class="search-container">
                        <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                        <input class="input-search search-nav" type="text" placeholder="  Buscar productos, marcas...">
                        <div class="button-conteiner">
                            <!-- boton de busqueda  -->
                            <button><i class="fas fa-search icon"></i></button>
                        </div>
                    </form>

                    <!-- iconos carrito y login -->
                    <div class="carIcon-loginIcon-container">
                        <div class="cart-icon-conteiner">
                            <a href="#"><i class="fas fa-shopping-cart icon"></i></a>
                        </div>
                        <div class="login-icon-container icon">
                            <a href="/login"> <i class="fas fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista De Opciones -->
        <div class="menu-contenedor-breackpoint">
            <div class="menu-atajos">
                <a href="/">HOME</a>

                <a href="#">CATEGORIAS</a>
                <a href="#">OFERTAS</a>

                <a href="#">NUEVOS LANZAMIENTOS</a>
                <a href="#">MAS DESCARGADOS</a>
                <div class="cart-register-login-breackpoint">
                    <a href="/carrito"><i class="fas fa-shopping-cart icon-cart-responsive"></i></a>
                    <p><br> </p>
                    <a class="links-breackpoint" href="/register">REGISTRATE</a>
                    <p>/</p>
                    <a class="links-breackpoint" href="/login">INICIA SESION</a>

                </div>

            </div>
        </div>


    </header>
    <!-----------------FIN HEADER-------------------->

    <!-- Detalle de producto -->
    <main>
        <article class="Producto">
            <!-- Imagen Juego -->
            <div class="imagen1">
                <img src="/image/detalleProducto/descripcion.jpeg" alt="imagen" class="imagen">
            </div>
            <div class="descripcion-juego">
                <p class="descrpcion">NBA 2K18 salta a la cancha del videojuego con todo el espíritu del mejor basket NBA con licencia 
                    oficial. El juego de 2K Sports busca sorprender otra temporada más a los seguidores del baloncesto 
                    más exigente y divertido, contando además con un nuevo miembro del Hall of Fame de la NBA, icono 
                    del baloncesto y pívot dominante por excelencia, Shaquille O’"Neal como protagonista de la portada 
                    de la edición especial de NBA 2K18.
                    Entre las novedades jugables de este NBA 2K18 nos encontramos con un nuevo sistema de 
                    animaciones, nuevo sistema de tiro y mejoras de IA entre otros, pero sobre todo la incorporación de 
                    El Barrio, una especie de lugar de encuentro o centro neurálgico online persistente en el que 
                    podremos retar a otros jugadores en partidos urbanos de baloncesto o entablar relación con ellos.
                    </p>
            </div>
            <div class="imagen2">
                <img src="/image/detalleProducto/fotos del juego.jpeg" alt="imagen" class="imagen">
            </div>
            <div class="imagen1">
                <img src="/image/detalleProducto/video.jpeg" alt="imagen" class="imagen">
            </div>
    </main>
</body>

</html>
