<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tipografia -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!-- Estilos Propios -->
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="image/logo-digital-games.ico">

    <!-- Titulo -->
    <title>Digital Game</title>

</head>

<body>

    <!-----------------HEADER-------------------->
    <header>


        <div class="header-conteiner-2">
            <div class="logo-burger-cartShop-loginButton-conainer">

                <div class="burguer-logo-container">
                    <!-- menu hamburguesa -->
                    <div class="burger-container">
                        <i class="fas fa-bars icon"></i>
                    </div>

                    <!-- logo con nombre  -->
                    <div class="logo-container">
                        <a href="/"> <img src="image/logo-nombre.png" alt="logo digital games"></a>
                    </div>
                </div>
                <div class="navbar-iconCart-iconUser">
                    <!-- nav search icon button -->
                    <form class="search-container">
                        <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                        <input class="input-search search-nav" type="text" placeholder="  Buscar productos, marcas...">
                        <div class="button-conteiner">
                            <!-- boton de busqueda  -->
                            <button><i class="fas fa-search icon"></i></button>
                        </div>
                    </form>

                    <!-- iconos carrito y login -->
                    <div class="carIcon-loginIcon-container">
                        <div class="cart-icon-conteiner">
                            <a href="#"><i class="fas fa-shopping-cart icon"></i></a>
                        </div>
                        <div class="login-icon-container icon">
                            <a href="/login"> <i class="fas fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista De Opciones -->
        <div class="menu-contenedor-breackpoint">
            <div class="menu-atajos">
                <a href="/">HOME</a>

                <a href="#">CATEGORIAS</a>
                <a href="#">OFERTAS</a>

                <a href="#">NUEVOS LANZAMIENTOS</a>
                <a href="#">MAS DESCARGADOS</a>
                <div class="cart-register-login-breackpoint">
                    <a href="/carrito"><i class="fas fa-shopping-cart icon-cart-responsive"></i></a>
                    <p><br> </p>
                    <a class="links-breackpoint" href="/register">REGISTRATE</a>
                    <p>/</p>
                    <a class="links-breackpoint" href="/login">INICIA SESION</a>

                </div>

            </div>
        </div>


    </header>
    <!-----------------FIN HEADER-------------------->

    <!-- Banner -->
    <section class="banner">
        <img src="image/banner-Fifa22.jpg" alt="Banner juegos">
    </section>

    <main>
        <form action="/" method="GET">
            <section class="atajos">
                <div class="atajo ofertas">
                    <button type="submit">OFERTAS</button>
                </div>

                <div class="atajo nuevos-lanzamientos">
                    <button type="submit">NUEVOS LANZAMIENTOS</button>
                </div>

                <div class="atajo mas-descargados">
                    <button type="submit">MAS DESCARGADOS</button>
                </div>

            </section>
        </form>
        <section class="menu-lateral-categorias-cards-conteiner">
            <div class="menu-latearal-categorias-container">
                <div class="menu-lateral-categorias">
                    <ul>
                        <p>CATEGORIAS</p>
                        <li><a href="#">Acción</a></li>
                        <li><a href="#">Arcade</a></li>
                        <li><a href="#">Carreras</a></li>
                        <li><a href="#">Deportes</a></li>
                        <li><a href="#">Disparos</a></li>
                        <li><a href="#">Estrategia</a></li>
                    </ul>
                </div>
                <div class="marcas">
                    <ul>
                        <p>COMPATIBLES CON</p>

                        <li><a href="#">Nintendo Switch</a></li>
                        <li><a href="#">Oculus</a></li>
                        <li><a href="#">Ps4</a></li>
                        <li><a href="#">Ps5</a></li>
                        <li><a href="#">XBOX</a></li>

                    </ul>

                </div>
                <div class="otros">
                    <form action="/">
                        <label for="cat-otros">Otros</label><br>
                        <input type="checkbox" name="cat-otros" value="Novedades">Novedades
                        <input type="checkbox" name="cat-otros" value="Ofertas">Ofertas
                        <input type="checkbox" name="cat-otros" value="Envio Gratis">Envio Gratis
                        <input type="checkbox" name="cat-otros" value="Cuotas sin interes">Cuotas sin interes
                        <input type="checkbox" name="cat-otros" value="Rebajado">Rebajado

                    </form>

                </div>
                <div class="precios">
                    <p>DEFINI EL RANGO DE PRECIO</p>

                    <label for="rango-precios">Precios</label>
                    <label>O----------O </label>
                    <label> desde $ hasta $</label>
                </div>
                <div class="reset-buton-cat">
                    <button type="reset">Borrar Todo</button>
                </div>
            </div>

            <!-- SECCION PRODUCTOS O CARDS -->



            <section class="products-container">
                <div class="products">
                    <!-- card call of duty -->
                    <article class="card-container"><a href="/detalleProducto">
                        <div class="img-product-container">
                            <img src="image/products/call-of-duty.jpg" alt="call of duty" class="product_img">
                        </div>
                    </a>
                        <div class="main-article">
                            <div>
                                <!-- <i class="fas fa-truck"></i> -->
                                <p class="discount">40% off</p>
                                <p class="consolas-compatibles">PS4/PS5</p>
                                <p class="main-card-categoria">Disparos</p>
                                <p class="price">$6.770</p>
                                <h4 class="description">Call of Duty</h4>
                            </div>
                    
                            <div class="button-add-cart-container">
                                <button type="submit">Add to Cart</button>
                            </div>
                        </div>
                    </article>
                    <!-- card fifa 22 -->
                    <article class="card-container">
                        <div class="img-product-container">
                            <img src="image/products/fifa-2022.jpg" alt="fifa 22" class="product_img">
                        </div>
                        <div class="main-article">
                            <div>
                                <!-- <i class="fas fa-truck"></i> -->
                                <p class="discount">40% off</p>
                                <p class="consolas-compatibles">PS4/PS5/XBOX</p>
                                <p class="main-card-categoria">Deportes</p>
                                <p class="price">$2.450</p>
                                <h4 class="description">FIFA 2022</h4>
                            </div>

                            <div class="button-add-cart-container">
                                <button type="submit">Add to Cart</button>
                            </div>
                        </div>

                    </article>
                    <!-- card horizon  -->
                    <article class="card-container">
                        <div class="img-product-container">
                            <img src="image/products/horizon.jpg" alt="horizon" class="product_img">
                        </div>
                        <div class="main-article">
                            <div>
                                <!-- <i class="fas fa-truck"></i> -->
                                <p class="discount">40% off</p>
                                <p class="consolas-compatibles">PS4/PS5</p>
                                <p class="main-card-categoria">Aventura</p>
                                <p class="price">$5.199</p>
                                <h4 class="description">HORIZON</h4>
                            </div>

                            <div class="button-add-cart-container">
                                <button type="submit">Add to Cart</button>
                            </div>
                        </div>

                    </article>

                    <!-- card spdierman  -->
                    <article class="card-container">
                        <div class="img-product-container">
                            <img src="image/products/SPIDERMAN.jpg" alt="spiderman-mile-morales" class="product_img">
                        </div>
                        <div class="main-article">
                            <div>
                                <!-- <i class="fas fa-truck"></i> -->
                                <p class="discount">40% off</p>
                                <p class="consolas-compatibles">PS4/PS5/XBOX</p>
                                <p class="main-card-categoria">Aventura</p>
                                <p class="price">$9.770</p>
                                <h4 class="description">Spiderman mile morales</h4>
                            </div>

                            <div class="button-add-cart-container">
                                <button type="submit">Add to Cart</button>
                            </div>
                        </div>

                    </article>

                </div>
            </section>


        </section>

    </main>

</body>

</html>