<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos Propios -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Titulo -->
    <title>Digital Game</title>
</head>

<body>
    <main>
            <form action="/" method="GET"></form>

            <label>Perfil</label>

            <label for="usuario"></label>
            <input type="text" name="usuario" id="usuario" placeholder="Usuario">

            <label for="contraseña"></label>
            <input type="pass" name="contraseña" id="contraseña" placeholder="Contraseña">

            <input type="checkbox" value="recordarme" name="recordarme" id="recordarme">
            <label for="recordarme">Recordarme</label>

            <button type="submit"> Iniciar Sesión </button>
    </main>
</body>

</html>