<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!-- linkeo css  -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/colors.css">

    <link rel="stylesheet" href="/css/register.css">
    <title>DG Register</title>
</head>

<body class="body-register">
    <!-----------------HEADER-------------------->
    <header>
        <div class="header-conteiner-2">
            <div class="logo-burger-cartShop-loginButton-conainer">

                <div class="burguer-logo-container">
                    <!-- menu hamburguesa -->
                    <div class="burger-container">
                        <i class="fas fa-bars icon"></i>
                    </div>

                    <!-- logo con nombre  -->
                    <div class="logo-container">
                        <a href="/"> <img src="image/logo-texto-oscuro.png" alt="logo digital games"></a>
                    </div>
                </div>
                <div class="navbar-iconCart-iconUser">
                    <!-- nav search icon button -->
                    <form class="search-container">
                        <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                        <input class="input-search search-nav" type="text" placeholder="  Buscar productos, marcas...">
                        <div class="button-conteiner">
                            <!-- boton de busqueda  -->
                            <button><i class="fas fa-search icon"></i></button>
                        </div>
                    </form>

                    <!-- iconos carrito y login -->
                    <div class="carIcon-loginIcon-container">
                        <div class="cart-icon-conteiner">
                            <a href="#"><i class="fas fa-shopping-cart icon"></i></a>
                        </div>
                        <div class="login-icon-container icon">
                            <a href="/login"> <i class="fas fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista De Opciones -->
        <div class="menu-contenedor-breackpoint">
            <div class="menu-atajos">
                <nav class="main-nav">
                    <ul class="menu">
                        <li class="menu__item button"><a href="/" class="menu__link">HOME</a></li>
                        <li class="menu__item container-submenu">
                            <a href="#" class="menu__link submenu-btn button cat">CATEGORIAS <i
                                    class="fas fa-caret-down"></i></a>
                            <ul class="submenu" id="menu">
                                <li class="menu__item"><a href="" class="menu__link">Acción</a></li>
                                <li class="menu__item"><a href="" class="menu__link">Arcade</a></li>
                                <li class="menu__item"><a href="" class="menu__link">Carreras</a></li>
                                <li class="menu__item"><a href="" class="menu__link">Deportes</a></li>
                                <li class="menu__item"><a href="" class="menu__link">Disparos</a></li>
                                <li class="menu__item"><a href="" class="menu__link">Estrategia</a></li>
                            </ul>
                        </li>
                        <li class="menu__item container-submenu">
                            <a href="#" class="menu__link submenu-btn button cat">COMPATIBLES CON <i
                                    class="fas fa-caret-down"></i></a>
                            <ul class="submenu" id="menu">
                                <li class="menu__item"><a href="" class="menu__link">PS2</a></li>
                                <li class="menu__item"><a href="" class="menu__link">PS4</a></li>
                                <li class="menu__item"><a href="" class="menu__link">PS5</a></li>
                                <li class="menu__item"><a href="" class="menu__link">XBOX 360</a></li>
                                <li class="menu__item"><a href="" class="menu__link">XBOX ONE</a></li>
                                <li class="menu__item"><a href="" class="menu__link">NINTENDO SWITCH</a></li>
                            </ul>
                        </li>
                        <li class="menu__item container-submenu">
                            <a href="" class="menu__link">FILTRAR <i class="fas fa-caret-down"></i></a>
                            <ul class="submenu">
                                <form action="/">
                                    <input class="menu__link" type="checkbox" name="cat-otros"
                                        value="Novedades">Novedades <br>
                                    <input class="menu__link" type="checkbox" name="cat-otros" value="Ofertas">Ofertas
                                    <br>
                                    <input class="menu__link" type="checkbox" name="cat-otros"
                                        value="Envio Gratis">Envio Gratis<br>
                                    <input class="menu__link" type="checkbox" name="cat-otros"
                                        value="Cuotas sin interes">Cuotas sin interes <br>
                                </form>
                                <div class="button-filter-container">
                                    <a href=""><button class="button-filter-search" type="submit">FILTRAR</button></a>
                                </div>
                            </ul>
                        </li>

                    </ul>
                </nav>
                </span>
            </div>

            <div class="cart-register-login-breackpoint">
                <a href="/carrito"><i class="fas fa-shopping-cart icon-cart-responsive"></i></a>
                <p><br> </p>
                <a class="links-breackpoint" href="/register">REGISTRATE</a>
                <p class="guion">-</p>
                <a class="links-breackpoint" href="/login">INICIA SESION</a>

            </div>
        </div>
        <link rel="stylesheet" href="/menu.js">
        <script src="/menu.js"></script>
        <div class="barra-division-mobile"></div>

    </header>
    <!-----------------FIN HEADER-------------------->

    <main>
        <!-- formulario register -->

        <div class="formulario-container">
            <form action="/">

                <div class="titulo-register-conteiner">
                    <label class="Titulo-register">Ingresa tus datos</label><br>
                </div>

                <label class="titulos-boxs" for="name">Nombre y apellido:</label><br>
                <input class="text-boxs" type="text" name="nombre-apellido" id="name"
                    placeholder="Ej. Florencio Perez"><br>

                <label class="titulos-boxs" for="usser">Nombre usuario</label><br>
                <input class="text-boxs" type="text" name="usser" id="usser" placeholder="Ej. Florperez56"><br>

                <label class="titulos-boxs" for="fechaNac">Fecha de nacimiento:</label><br>
                <input class="text-boxs" type="date" name="fechaNac" id="fechaNac"><br>

                <label class="titulos-boxs" for="domicilio">Domicilio:</label>
                <input class="text-boxs" type="text" name="domicilio" id="domicilio" placeholder="Ej. Cabred 1900"><br>

                <label class="titulos-boxs" for="img-usser">Seleccione una imagen para su perfil:</label><br>
                <div class="file-select">
                    <input class="file" type="file" name="img-usser" accept=".jpg, .png">
                </div>

                <label class="titulos-boxs" for="pass">Ingrese una contraseña:</label>
                <input class="text-boxs" type="password" name="pass" id="pass">

                <label class="titulos-boxs" for="pass-repeat">Confirme la contraseña:</label>
                <input class="text-boxs" type="password" name="pass-repeat" id="pass-repeat">

                <div class="buttons">
                    <!-- button limpiar o borrar formulario -->
                    <input class="button-reset" type="reset" name="reset" id="reset">

                    <!-- button enviar -->
                    <input class="button-submit" type="submit" name="submit" id="submit-and-go-to-home">
                </div>

                <div class="redirec-login">
                    <div>
                        <label">Ya tienes una cuenta?</label>
                    </div>
                    <a class="link-inicia-sesion" href="/login">Inicia sesión</a>

                </div>
            </form>
        </div>
    </main>
    <!-- section footer -->
    <footer>
        <div class="footer-conteiner">
            <div class="redes-container">
                <div class="logos-redes">
                    <a href=""> <i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-whatsapp"></i></a>
                </div>
                <div class="correo-telefono">
                    <h2>digital-games@gmail.com</h2>
                    <h2>Tel.:(0800)22 22 - 4578</h2>
                </div>
            </div>
            <div class="logo-container-footer">
                <img class="logo-footer" src="/image/logo-digital-games.png" alt="">
            </div>
            <div class="politicas-privacidad">
                <h2>Politicas de privacidad</h2>
                <h2>Todos los derechos reservados</h2>
            </div>
        </div>
    </footer>

</body>

</html>