<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!-- linkeo css  -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>DG Register</title>
</head>

<body class="body-register">
 <!-----------------HEADER-------------------->
 <header>

    <div class="header-conteiner-2">
        <div class="logo-burger-cartShop-loginButton-conainer">

            <div class="burguer-logo-container">
                <!-- menu hamburguesa -->
                <div class="burger-container">
                    <i class="fas fa-bars icon"></i>
                </div>

                <!-- logo con nombre  -->
                <div class="logo-container">
                   <a href="/"> <img src="image/logo-nombre.png" alt="logo digital games"></a>
                </div>
            </div>
            <div class="navbar-iconCart-iconUser">
                <!-- nav search icon button -->
                <form class="search-container">
                    <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                    <input class="input-search search-nav" type="text" placeholder="  Buscar productos, marcas...">
                    <div class="button-conteiner">
                        <!-- boton de busqueda  -->
                        <button><i class="fas fa-search icon"></i></button>
                    </div>
                </form>

                <!-- iconos carrito y login -->
                <div class="carIcon-loginIcon-container">
                    <div class="cart-icon-conteiner">
                        <a href="#"><i class="fas fa-shopping-cart icon"></i></a>
                    </div>
                    <div class="login-icon-container icon">
                        <a href="/login"> <i class="fas fa-user"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Lista De Opciones -->
    <div class="menu-contenedor-breackpoint">
        <div class="menu-atajos">
            <a href="/">HOME</a>
            
            <a href="#">CATEGORIAS</a>
            <a href="#">OFERTAS</a>

            <a href="#">NUEVOS LANZAMIENTOS</a>
            <a href="#">MAS DESCARGADOS</a>
            <div class="cart-register-login-breackpoint">
                <a href="#"><i class="fas fa-shopping-cart icon-cart-responsive"></i></a>
                <p><br> </p>
                <a class="links-breackpoint" href="/register">REGISTRATE</a>
                <p>/</p>
                <a class="links-breackpoint" href="/login">INICIA SESION</a>

            </div>

        </div>
    </div>
</header>
<!-----------------FIN HEADER-------------------->

    <main>
        <!-- formulario register -->

        <div class="formulario-container">
            <form action="/">

                <div class="titulo-register-conteiner">
                    <label class="Titulo-register">Ingresa tus datos</label><br>
                </div>

                <label class="titulos-boxs" for="name">Nombre y apellido:</label><br>
                <input class="text-boxs" type="text" name="nombre-apellido" id="name"
                    placeholder="Ej. Florencio Perez"><br>

                <label class="titulos-boxs" for="usser">Nombre usuario</label><br>
                <input class="text-boxs" type="text" name="usser" id="usser" placeholder="Ej. Florperez56"><br>

                <label class="titulos-boxs" for="fechaNac">Fecha de nacimiento:</label><br>
                <input class="text-boxs" type="date" name="fechaNac" id="fechaNac"><br>

                <label class="titulos-boxs" for="domicilio">Domicilio:</label>
                <input class="text-boxs" type="text" name="domicilio" id="domicilio" placeholder="Ej. Cabred 1900"><br>

                <label class="titulos-boxs" for="img-usser">Seleccione una imagen para su perfil:</label><br>
                <div class="file-select">
                    <input class="file" type="file" name="img-usser" accept=".jpg, .png">
                </div>

                <label class="titulos-boxs" for="pass">Ingrese una contraseña:</label>
                <input class="text-boxs" type="password" name="pass" id="pass">

                <label class="titulos-boxs" for="pass-repeat">Confirme la contraseña:</label>
                <input class="text-boxs" type="password" name="pass-repeat" id="pass-repeat">

                <div class="buttons">
                    <!-- button limpiar o borrar formulario -->
                    <input class="button-reset" type="reset" name="reset" id="reset">

                    <!-- button enviar -->
                    <input class="button-submit" type="submit" name="submit" id="submit-and-go-to-home">
                </div>

                <div class="redirec-login">
                    <div>
                        <label">Ya tienes una cuenta?</label>
                    </div>
                    <a class="link-inicia-sesion" href="/login">Inicia sesión</a>
                    
                </div>
            </form>
        </div>
    </main>
</body>

</html>