<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos Propios -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Titulo -->
    <title>Digital Game</title>
</head>

<main>
    <form action="/" method="GET"></form>

    <div>
        <label>Ingresa tus datos</label>
    </div>

    <label for="nombre">Nombres: </label>
    <input type="text" name="nombre" id="nombre">

    <label for="apellido">Apellidos: </label>
    <input type="text" name="apellido" id="apellido">

    <label for="usuario">Nombre de usuario: </label>
    <input type="text" name="usuario" id="usuario">

    <label for="mail">Email: </label>
    <input type="text" name="mail" id="mail">

    <label for="contraseña">Contraseña: </label>
    <input type="pass" name="contraseña" id="contraseña">

    <label for="repetir">Repetir Contraseña: </label>
    <input type="pass" name="confirmar" id="confirmar">

    <label for="cumpleaños">Fecha de nacimiento: </label>
    <input type="date" name="cumpleaños" id="cumpleaños">

    <br>
    <button type="submit">Finalizar Registro</button>
    </br>
</main>

</body>
</html>