* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 150px;
}

.titulo-carrito {
    background: #323232;
    padding: 2px;
    color: #ebebeb;
    BORDER-RADIUS: 3px;
    margin-bottom: 8px;
    box-shadow: 0px 5px 8px 0px rgba(15, 19, 41, 0.54);
    font-size: 100%;
}

.imagen-titulo-caract-container {
    display: flex;
    border-bottom: 1px solid #bebebe;
}

.contenedor-imagen {
    width: 45%;
}

.titulo-detalle-product {
    margin-left: 11px;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 4px;
}

.contenedor-caracteristicas {
    font-size: 77%;
    margin-left: 12px;
}

.contenedor-caracteristicas h2 {
    font-size: 13px;
    font-weight: 500;
}
.button-deleted{
    background: red;
    padding: 5px 25px;
    border-radius: 3px;
    color: white;
    margin: 10px 20px;
}
.botones-product-detail {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    justify-content: space-around;
}

.carrito button {
    background: #50B868;
    padding: 4px 6px;
    color: white;
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;


}
.price-detail{
    margin: 0 20px;
    font-size: 131%;
    font-weight: 800;

}

.botones-product-detail .seguir-comprando button {
    margin-bottom: 5px;
    background: #017bae;
    padding: 4px 6px;
    color: white;
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 10px 0px;



}
.add-to-cart-price-container{
    display: flex;
    margin: 10px 20px;
    text-align: center;
    align-items: center;
}

.description-product-detal-container h2 {
    padding: 4px;
    font-size: 90%;
    text-align: center;
    margin-bottom: 10px;
}

.capturas-detail {
    display: flex;
    flex-wrap: wrap;
}

.capturas-detail img {
    width: 47%;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 0px 5px 8px 0px rgb(15 19 41 / 54%);
}

.videoDetail-conteiner {
    text-align: center;
}

.videoDetail-conteiner iframe {
    width: 100%;
}


@media (min-width: 768px) {
    body {
        margin-top: 120px;

    }

    .titulo-detalle-product {
        margin-left: 11px;
        border-bottom: 1px solid #bebebe;
        padding-bottom: 4px;
        font-size: 118%;
    }

    .contenedor-caracteristicas {
        font-size: 100%;
        margin-left: 12px;
    }

    .contenedor-caracteristicas h2 {
        font-size: 16px;
        font-weight: 500;
        margin-top: 8px;
        background-color: #ded9d9;
        padding: 2px;

    }

    .titulo-caracteristicas-conteiner {
        width: 100%;
        display: flex !important;
    flex-direction: column!important;
    justify-content: space-between!important
    }

    .videoDetail-conteiner iframe {
        max-width: 600px;
        height: 300px;
    }
}

@media (min-width:1024px) {
    .contenedor-imagen {
        width: 31%;
    }
    .contenedor-botones-precio{
        display: flex;
    justify-content: space-around;
    }
}