* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    margin-top: 74px;
    background-color: var(--grisClaro);

}


header {
    position: fixed;
    background: rgb(173 173 173 / 70%);
    padding: 7px 14px 2px 4px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.header-mobile{
    position: fixed;
    background: rgb(31 29 29);
    /* background: rgb(173 173 173); */
    padding: 7px 14px 2px 4px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 6px #323232 solid;
}

.header-mobile .icon{
    font-size: 20px;
    color: #878787;
    margin: 0px 10px;
    transition: color 1s;
}
.header-mobile .icon:visited{
    color: #d8d6d6;
}
.header-conteiner-2{
    display: none;
}
.search-container .icon{
    color: #323232;
}

.logo-burger-cartShop-loginButton-conainer-mobile{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo-burger-cartShop-loginButton-conainer-mobile img{
    width: 71%;
}
.logo-container-mobile{
    width: 16%;
}

img {
    width: 100%;
}
a{
    text-decoration: none;
}
.logo-container {
    text-align: center;

}

.logo-container img {
    width: 86%;

}

ul li {
    text-decoration: none;
    padding: 0;
    list-style: none;
}

.navbar-iconCart-iconUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carIcon-loginIcon-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.burguer-logo-container {
    display: flex;
    align-items: center;
}

.burger-container {
    width: 21%;


}

.burger-container .icon {
    font-size: 6vw;

}

.search-container {
    width: 80%;
    display: flex;

}

.search-nav {
    border: none;
    border-radius: 22px;
    width: 85%;
    margin: 12px 12px 14px 6px;
    height: 37px;
    padding-left: 11px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);


}

.search-nav::placeholder {
    color: #a5a5a5;
    font-size: 100%;
}

.icon {
    font-size: 20px;
    color: #323232;
    margin: 0px 10px;
    transition: color 1s;
}

.login-icon-container:hover {
    color: #017bae
}


button {
    border: none;
    background: none;
    position: relative;

}

button .icon {
    position: absolute;
    left: -59px;
    top: 5px;
}

.menu-contenedor-breackpoint {
    display: none;

}

.menu-container {
    display: none;
}

.barra-division-mobile {
    width: 100vw;
    background: #323232;
    height: 8px;
    margin: auto;
    position: absolute;
    left: 0px;
    box-shadow: 0px 5px 8px 0px rgba(15, 19, 41, 0.54);
}

/* INICIO MAIN .....................................................   */


/* slider carrete de imagenes auto */
.slider-frame {
    width: 100%;
    overflow: hidden;
}


.slider-frame ul {
    display: flex;
    width: 400vw;
    animation: slide 16s infinite alternate ease-in-out;

}

.slider-frame img {
    width: 100vw;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100vh;
    }

    50% {
        margin-left: -100vw;
    }

    55% {
        margin-left: -200vw;
    }

    70% {
        margin-left: -200vw;
    }

    75% {
        margin-left: -300vw;
    }

    100% {
        margin-left: -300vw;
    }



}
.max-width-card{
    height: 58.7vh;
    display: flex;
}


.products-container {
    display: flex;
    justify-content: center;
}

.products {
    max-width: 390px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.img-product-container {
    display: flex;
    justify-content: center;
    padding: 9%;
    position: relative;
    transition:  transform 3s;
    align-items: center;

}

.img-product-container img {
    overflow: hidden;
}

.name-game {
    font-size: 134%;
    text-align: center;
    background: #323232;
    align-items: center;
    color: #ebebeb;
    margin: 0px 25px;
    font-family: "Staatliches";

}

.envios-gratis {
    position: absolute;
    background-color: #fa5215;
    color: #323232;
    font-size: 109%;
    left: 58%;
    top: 87%;
    font-weight: 400;
    padding: 1px 7px;
    box-shadow: 0px 5px 8px 0px rgb(15 19 41 / 54%);
}

.etiqueta-off {
    position: absolute;
    background-color: #af0f0f;
    color: white;
    font-size: 122%;
    left: 71%;
    top: 7%;
    font-weight: 700;
    padding: 1px 7px;
    transform: rotate(31deg);
    box-shadow: 0px 5px 8px 0px rgb(15 19 41 / 54%);

}

.price {
    font-size: 23px;
    font-weight: 700;
    color: #3e3e3e;

}
.consolas-compatibles{
    font-weight: 700;
}

.consolas-compatibles,
.main-card-categoria {
    color: #666666;
    margin-bottom: 3px;
    font-size: 17px;
}

.discount {
    display: none;
    width: 70%;

}

.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: none;
    margin-top: 20px;
}

main {
    width: 95%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}


main section article i,
.discount {
    color: #39b54a;
}

main section article i {

    /* display: block; */
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    display: none;
}



main section h3 {
    margin: 20px 0px;
}

.menu-contenedor-breackpoint-ofertas {
    display: flex;
    justify-content: center;
    background: #2b4e7e;
    height: 46px;
    box-shadow: 0px 5px 8px 0px rgb(15 19 41 / 54%);
    align-items: center;

}

.menu-contenedor-breackpoint-ofertas a {
    text-decoration: none;
    font-weight: 700;
    transition: color 450ms, transform 1s, padding 450ms, border-bottom 1s, background-color 450ms;
}

.menu-atajos-ofertas {
    width: 100%;
}

.menu-atajos-ofertas ul {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.menu-atajos-ofertas ul a {
    color: #bababa;
    transition: all 450ms;
}

.menu-atajos-ofertas ul a:hover {
    color: white;
    background-color: #325e9b;
    padding: 10px;
}

.card-container {
    margin-bottom: 32px;
    box-shadow: 7px 7px 6px -5px rgba(0, 0, 0, 0.22);
}

.main-article {
    height: 23vh;
    width: 100%;
    display: flex;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 5px 15px 15px 28px;
    flex-direction: column;
    justify-content: space-between;
    transition: z-index 450ms, opacity 450ms;
}

.button-add-cart-container {
    margin-bottom: 10px;
    display: flex;
    height: 31px;
    opacity: 1;
    justify-content: center;
    transition: opacity 450ms;
}

.ver-mas {
    margin-bottom: 5px;
    background: #017bae;
    padding: 4px 6px;
    color: white;
    border-radius: 3px;
    position: relative;
    font-size: 0.7rem;
    cursor: pointer;
    transition: transform 350ms;
}

.add-to-car {
    background: #323232;
    padding: 7px 76px;
    color: white;
    border-radius: 3px;
    position: relative;
    font-size: 0.8rem;
    cursor: pointer;
    transition: transform 350ms, opacity 450ms, z-index 450ms;
}

/* -------------footer----------------- */

footer {
    background: var(--backgroundHeaderGris);
    border-top: 8px solid var(--azul);
    padding: 7px;
    margin-top: 10px;
}

.footer-conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes-container {
    width: 20%;
}

.logo-container-footer {
    width: 20%;
    text-align: center;
}

.logo-footer {
    width: 60%;
    margin: 0;
}

.logos-redes {
    text-align: center;
}

.footer-conteiner i {
    font-size: 136%;
}

.politicas-privacidad h2,
.correo-telefono h2 {
    font-size: 39%;
    text-align: center;
}

/* prueba menu desplegable  */
.submenu {
    height: 0;
    overflow: hidden;
    transition: all 450ms;
}

.menu__item {
    background: #323232;
    color: #ebebeb;

}

.submenu li a {
    background: none;
    color: white;
    padding: 4px;
}

.submenu form {
    background: #323232;
}

.button-filter-search {
    border: 1px solid black;
    border-radius: 3px;
    background: #dedede;
}



@media (min-width: 425px) {
    body {
        margin-top: 119px;
    }

    /* BREACKPONIT 600PX */
}

@media (min-width: 600px) {
    body {
        margin-top: 88px;
    }

}



/* BREAKPOINT 768PX */



@media (min-width: 768px) {

    header {
        padding: 0%;
    }
    .header-mobile{
        display: none;
    }
    .header-conteiner-2{
        display: block;
    }
    .burger-container {
        display: none;
    }

    .barra-division-mobile {
        display: none;
    }

    .carIcon-loginIcon-container {
        display: none;
    }


    .logo-container {
        width: 40%;
        transition: width 450ms;
    }

    .logo-container:hover {
        width: 45%;
    }

    .logo-container img {
        width: 130%;
        margin-left: 68px;
    }

    .search-container {
        width: 103%;
        display: flex;
    }

    .search-nav {
        height: 31px;
    }

    .envios-gratis {
        left: 53%;
    }

    button .icon {
        top: 2px;
    }

    .logo-burger-cartShop-loginButton-conainer {
        display: flex;
       
    }

    .navbar-iconCart-iconUser {
        width: 208%;
    }

    .atajos {
        display: none;
    }

    .guion-registrate {
        margin: 0px 6px;
    }

    .products {
        max-width: 718px;
    }

    .consolas-compatibles,
    .main-card-categoria {
        font-size: 18px;
    }

    .menu-contenedor-breackpoint {
        display: flex;
        justify-content: space-between;
        background: #323232;
        height: 46px;
        padding: 5px;
        font-size: 63%;
        box-shadow: 0px 5px 8px 0px rgb(15 19 41 / 54%);
        width: 100%;
        align-items: center;

    }

    .menu-contenedor-breackpoint a {
        text-decoration: none;
        font-weight: 700;
        transition: color 450ms, transform 1s, padding 450ms, border-bottom 1s, background-color 450ms;
    }

    .menu-atajos {
        display: flex;
        justify-content: flex-start;
    }

    .menu-atajos-ofertas ul {
        font-size: 15px;
    }


    .guion,
    .cart-register-login-breackpoint a {
        color: #64bee4;

        font-weight: 700;
        transition: color 450ms;
    }

    .cart-register-login-breackpoint a:hover {
        color: white;
    }

    .menu-atajos a {
        color: #bababa;
        padding: 10px;
        background: rgba(255, 255, 255, 0.10);
        border-radius: 2px;
        margin: 0px 2px;


    }

    .menu-atajos a:hover {
        background: rgba(255, 255, 255, 0.20);
        ;
        color: #64bee4;
    }

    .links-breackpoint {
        text-decoration: underline;
    }


    .cart-register-login-breackpoint {

        margin: 0 14px;
        width: 22%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }




    .card-container {
        width: 45%;
        margin: 20px auto;
    }


    .menu-latearal-categorias-container {
        display: block;
        background-color: #666666;
        border-radius: 2px;
        padding: 6px;
        font-size: 14px;
        box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.38);
        margin-top: 20px;
        max-width: 135px;
    }

    .menu-latearal-categorias-container a {
        text-decoration: none;
        transition: all 300ms;
    }

    .menu-latearal-categorias-container a:hover {
        color: #64bee4;


    }

    ul li {
        list-style: none;
        padding: 0%;

    }

    .politicas-privacidad h2,
    .politicas-privacidad i,
    .correo-telefono h2 {
        font-size: 60%;
    }

    .menu {
        display: flex;

    }

    .container-submenu {
        position: relative;
    }

    .submenu {
        position: absolute;
        top: 30px;
        width: 200px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }

    .submenu li {
        display: flex;
        flex-direction: column;
        padding: 3px;
    }

    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;
    }

}



@media (min-width: 1024px) {

    .products {
        max-width: none;
    }

    .button-add-cart-container {
        position: absolute;
        width: 20.9%;
        background: white;
        opacity: 0;
        transition: box-shadow 200ms, background 200ms, opacity 200ms;
    }

    .card-container:hover .button-add-cart-container {
        opacity: 1;
        box-shadow: 7px 7px 6px -5px rgb(0 0 0 / 22%);
    }

    .card-container:hover .img-product-container{
        transform: scale(1.1);
    }

    .add-to-car {
        padding: 7px 20px;
        font-size: 0.6rem;
    }

    .name-game {
        font-size: 90%;
    }

    .consolas-compatibles,
    .main-card-categoria {
        font-size: 109%;
    }

    .main-article {
        height: 16vh;
    }

    .price {
        font-size: 20px;
    }



    .envios-gratis {
        font-size: 70%;
        left: 59%;
    }

    .etiqueta-off {
        font-size: 75%;
    }

    .card-container {
        width: 22%;
        margin: 20px auto
    }

    .rivals-img {
        height: 175px;
    }

    .main-article {
        font-size: 70%;
    }

    /* .main-article button {
        font-size: 70%;
    } */

    .menu-contenedor-breackpoint {

        font-size: 83%;


    }

    .menu-atajos {
        width: 74%;
    }
}



/* @media (min-width: 1920px) {
    .slider-frame img {
        width: 99.1vw;
    }
} */