* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    margin-top: 26%;
    background-color: var(--grisClaro);

}

header {
    position: fixed;
    background: var(--backgroundHeaderGris);
    padding: 7px 14px 2px 4px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


img {
    width: 100%;
}

.logo-container img {
    width: 86%;

}

.navbar-iconCart-iconUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carIcon-loginIcon-container {
    display: flex;
    align-items: baseline;
    width: 20%;
    justify-content: space-between;
}

.burguer-logo-container {
    display: flex;
    align-items: center;
}

.burger-container {
    width: 21%;
    margin-left: 2%;


}

.burger-container .icon {
    font-size: 6vw;

}

.search-container {
    width: 80%;
    display: flex;

}

.search-nav {
    border: none;
    border-radius: 22px;
    width: 85%;
    margin: 12px 12px 15px 20px;
    height: 37px;
    padding-left: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);


}

.search-nav::placeholder {
    color: #a5a5a5;
    font-size: 100%;
}

.icon {
    font-size: 20px;
    color: #756f6f;
    margin: 0px 10px;
    transition: color 1s;
}

.login-icon-container:hover {
    color: #017bae
}

.cart-icon-conteiner i,
.login-icon-container {
    font-size: 18px;
}

button {
    border: none;
    background: none;
    position: relative;

}

button .icon {
    position: absolute;
    left: -59px;
    top: 5px;
}

.menu-contenedor-breackpoint {
    display: none;

}

.menu-container {
    display: none;
}


/* INICIO MAIN .....................................................   */


.atajos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .atajo {
    width: 80%;
    background-color: #CCCCCC;
    margin: 7px;
    padding: 4px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);

    transition: background-color 300ms, width 450ms;
}

.atajos button {
    font-size: 14px;
    color: #017bae;
    font-weight: 700;
    transition: color 300ms;

}

.atajo:hover {
    background-color: #017bae;
    width: 90%
}

.atajos:hover button {
    color: white;
}

.menu-lateral-categorias-cards-conteiner {
    display: flex;
    justify-content: center;
}

.menu-latearal-categorias-container {
    display: none;
}

.products-container {
    display: flex;
    justify-content: center;
}

.products {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.img-product-container {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.price {
    font-size: 18px;
    width: 30%;
    font-weight: 700;
    color: #666666;

}

.consolas-compatibles,
.main-card-categoria {
    color: #666666;
    margin-bottom: 3px;
}

.discount {
    display: none;
    width: 70%;

}

.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: none;
    margin-top: 20px;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}


main section article i,
.discount {
    color: #39b54a;
}

main section article i {

    /* display: block; */
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    display: none;
}



main section h3 {
    margin: 20px 0px;
}

.card-container {
    margin-bottom: 32px;
    box-shadow: 7px 7px 6px -5px rgba(0, 0, 0, 0.22);
}

.main-article {
    width: 100%;
    display: flex;
    align-items: flex-end;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
    justify-content: space-between;
}

.button-add-cart-container {
    display: flex;
    width: 32%;
    justify-content: flex-end;
    position: relative;

}

.button-add-cart-container button {
    order: none;
    background: #50B868;
    padding: 4px 6px;
    color: white;
    border-radius: 3px;
}


/* BREACKPONIT 600PX */


@media (min-width: 600px) {
    body {
        margin-top: 129px;
    }

}



/* BREAKPOINT 768PX */



@media (min-width: 768px) {

    .burger-container {
        display: none;
    }


    .carIcon-loginIcon-container {
        display: none;
    }


    .logo-container {
        width: 40%;
        transition: width 450ms;
    }

    .logo-container:hover {
        width: 45%;
    }

    .logo-container img {
        width: 165%;
        margin-left: 68px;
    }

    .search-container {
        width: 103%;
        display: flex;
    }

    .search-nav {
        height: 31px;
    }

    button .icon {
        top: 2px;
    }

    .logo-burger-cartShop-loginButton-conainer {
        display: flex;
    }

    .navbar-iconCart-iconUser {
        width: 208%;
    }

    .atajos {
        display: none;
    }

    .menu-contenedor-breackpoint {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 10px 24px 10px;
    }

    .menu-contenedor-breackpoint a {

        text-decoration: none;
        color: #64bee4;
        font-weight: 700;
        transition: color 450ms, transform 600ms;
    }

    .menu-contenedor-breackpoint a:hover {
        color: white;
        transform: scale(1.1);
    }

    .icon-cart-responsive {
        margin-right: 15px;
    }

    .menu-atajos p {
        color: #64bee4;
        font-weight: 700;

    }

    .links-breackpoint {
        text-decoration: underline;
    }

    .menu-atajos {
        display: flex;
        justify-content: space-around;
        background: #666666;
        width: 98%;
        height: 30px;
        padding: 5px;
        border-radius: 4px;
        font-size: 83%;
        box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.38);

    }

    .cart-register-login-breackpoint {
        display: flex;
    }



    .card-container {
        width: 45%;
        margin: 20px auto;
        transition: transform 400ms;
    }

    .card-container:hover {
        transform: scale(1.1);



    }

    .menu-latearal-categorias-container {
        display: block;
        background-color: #666666;
        border-radius: 2px;
        padding: 6px;
        font-size: 14px;
        box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.38);
        margin-top: 20px;
        max-width: 135px;
    }

    .menu-latearal-categorias-container a {
        text-decoration: none;
        transition: all 300ms;
    }

    .menu-latearal-categorias-container a:hover {
        color:#64bee4;
        

    }

   

    .titulo-menu-lateral {
        font-size: 12px;
        font-weight: 800;
        color:#64bee4;
    }
    .menu-latearal-categorias-container a{
        font-size: 14px;
        font-weight: 500;
        color: white;

    }

    ul li {
        list-style: none;
        padding: 0%;

    }

}



@media (min-width: 1024px) {

    .card-container {
        width: 22%;
        margin: 20px auto
    }

    .rivals-img {
        height: 175px;
    }

    .main-article {
        font-size: 70%;
    }

    .main-article button {
        font-size: 70%;
    }

}