<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/image/logo-digital-games.ico">

    <title>Loading... DigitalGames</title>
</head>
<body class="backrground-black">
    <div class="logo-loading-container">
        <img  class="loading" src="/image/logo-digital-games.png" alt="">
        <div class="circulo-loader">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    
        </div>
    </div>

    <script>
        setTimeout(function(){
            window.location.href= "/home"
        },3000)
    </script>
</body>
</html>