<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Falta Tipografia -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!-- Estilos Propios --> 
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/colors.css">


    <link rel="stylesheet" href="/css/login.css">


    <title>Document</title>
</head>

<body class="body-login">
    <!-----------------HEADER-------------------->
    <header>
        <div class="header-conteiner-2">
            <div class="logo-burger-cartShop-loginButton-conainer">

                <div class="burguer-logo-container">
                    <!-- menu hamburguesa -->
                    <div class="burger-container">
                        <i class="fas fa-bars icon"></i>
                    </div>

                    <!-- logo con nombre  -->
                    <div class="logo-container">
                        <a href="/"> <img src="image/logo-texto-oscuro.png" alt="logo digital games"></a>
                    </div>
                </div>
                <div class="navbar-iconCart-iconUser">
                    <!-- nav search icon button -->
                    <form class="search-container">
                        <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                        <input class="input-search search-nav" type="text" placeholder="  Buscar productos, marcas...">
                        <div class="button-conteiner">
                            <!-- boton de busqueda  -->
                            <button><i class="fas fa-search icon"></i></button>
                        </div>
                    </form>

                    <!-- iconos carrito y login -->
                    <div class="carIcon-loginIcon-container">
                        <div class="cart-icon-conteiner">
                            <a href="/carrito"><i class="fas fa-shopping-cart icon"></i></a>
                        </div>
                        <div class="login-icon-container icon">
                            <a href="/login"> <i class="fas fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista De Opciones -->
        <div class="menu-contenedor-breackpoint">
            <div class="menu-atajos">
            <nav class="main-nav">
                <ul class="menu">
                    <li class="menu__item button"><a href="/" class="menu__link">HOME</a></li>
                    <li class="menu__item container-submenu" >
                        <a href="#" class="menu__link submenu-btn button cat">CATEGORIAS  <i class="fas fa-caret-down"></i></a>
                        <ul class="submenu" id="menu">
                            <li class="menu__item"><a href="" class="menu__link">Acción</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Arcade</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Carreras</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Deportes</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Disparos</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Estrategia</a></li>
                        </ul>
                    </li>
                    <li class="menu__item container-submenu" >
                        <a href="#" class="menu__link submenu-btn button cat">COMPATIBLES CON  <i class="fas fa-caret-down"></i></a>
                        <ul class="submenu" id="menu">
                            <li class="menu__item"><a href="" class="menu__link">PS2</a></li>
                            <li class="menu__item"><a href="" class="menu__link">PS4</a></li>
                            <li class="menu__item"><a href="" class="menu__link">PS5</a></li>
                            <li class="menu__item"><a href="" class="menu__link">XBOX 360</a></li>
                            <li class="menu__item"><a href="" class="menu__link">XBOX ONE</a></li>
                            <li class="menu__item"><a href="" class="menu__link">NINTENDO SWITCH</a></li>
                        </ul>
                    </li>
                    <li class="menu__item container-submenu">
                        <a href="" class="menu__link">FILTRAR  <i class="fas fa-caret-down"></i></a>
                        <ul class="submenu">
                                <form action="/">
                                    <input class="menu__link" type="checkbox" name="cat-otros" value="Novedades">Novedades <br>
                                    <input class="menu__link" type="checkbox" name="cat-otros" value="Ofertas">Ofertas <br>
                                    <input class="menu__link" type="checkbox" name="cat-otros" value="Envio Gratis">Envio Gratis<br>
                                    <input class="menu__link" type="checkbox" name="cat-otros" value="Cuotas sin interes">Cuotas sin interes <br>
                                </form>
                                <div class="button-filter-container">
                                    <a href=""><button class="button-filter-search" type="submit">FILTRAR</button></a>
                                </div>
                        </ul>
                    </li>
                    
                </ul>
            </nav>
            </span>
            </div>
           
            <div class="cart-register-login-breackpoint">
                <a href="/carrito"><i class="fas fa-shopping-cart icon-cart-responsive"></i></a>
                <p><br> </p>
                <a class="links-breackpoint" href="/register">REGISTRATE</a>
                <p class="guion">-</p>
                <a class="links-breackpoint" href="/login">INICIA SESION</a>

            </div>
        </div>
        
        <div class="barra-division-mobile"></div>

    </header>
    <!-----------------FIN HEADER-------------------->
    
    <main>
        <!-- Formulario de inicio de sesion -->
        <div class="formulario-container">
            <form action="/" method="GET">
                <div>
                    <label>Ingrese nombre de usuario y contraseña</label><br>
                </div>
                <div>
                    <input class="box-text" type="text" name="nombre-de-usuario" id="nombre-de-usuario"
                        placeholder="Usuario">
                </div>
                <div>
                    <input class="box-text" type="password" name="password" id="password" placeholder="Contraseña"><br>
                </div>
                <div class="checkbox">
                    <div class="option-cb">
                        <input type="checkbox" name="recordarme" value="recordarme" id="recordarme" checked>Recordarme
                    </div>
                </div>
                <div>
                    <button class="boton-inicio-sesion" type="submit">Iniciar Sesion</button><br>
                </div>
                <div class="No-tienes-cuenta">
                    <div>
                        <label>¿No tienes una cuenta?</label>
                    </div>
                    <a href="/register">Registrate</a>
                </div>

            </form>
        </div>
    </main>
         <!-- section footer -->
         <footer>
            <div class="footer-conteiner">
                <div class="redes-container">
                    <div class="logos-redes">
                        <a href=""> <i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-whatsapp"></i></a>
                    </div>
                    <div class="correo-telefono">
                        <h2>digital-games@gmail.com</h2>
                        <h2>Tel.:(0800)22 22 - 4578</h2>
                    </div>
                </div>
                <div class="logo-container-footer">
                    <img class="logo-footer" src="/image/logo-digital-games.png" alt="">
                </div>
                <div class="politicas-privacidad">
                    <h2>Politicas de privacidad</h2>
                    <h2>Todos los derechos reservados</h2>
                </div>
            </div>
        </footer>
</body>

</html>