<footer>
    <div class="footer-conteiner">
        <div class="redes-container">
            <div class="logos-redes">
                <a href=""> <i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-whatsapp"></i></a>
            </div>
            <div class="correo-telefono">
                <h2>digital-games@gmail.com</h2>
                <h2>Tel.:(0800)22 22 - 4578</h2>
            </div>
        </div>
        <div class="logo-container-footer">
            <img class="logo-footer" src="/image/logo-digital-games.png" alt="">
        </div>
        <div class="politicas-privacidad">
            <h2>Politicas de privacidad</h2>
            <h2>Todos los derechos reservados</h2>
        </div>
    </div>
</footer>