<header>
    <div class="header-mobile">
        <div class="header-conteiner">
            <div class="logo-burger-cartShop-loginButton-conainer-mobile">

                <div class="burguer-logo-container  " id="icono-menu">
                    <!-- menu hamburguesa -->
                    <i class="fas fa-bars icon"></i>



                </div>
                <!-- logo con nombre  -->
                <div class="logo-container-mobile">
                    <a href="/"> <img src="/image/logo-digital-games.png" alt="logo digital games"></a>
                </div>
                <div class="navbar-iconCart-iconUser">
                    <!-- nav search icon button -->
                    <form class="search-container">
                        <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                        <input class="input-search search-nav" type="text" placeholder="  Buscar productos, marcas...">
                        <div class="button-conteiner">
                            <!-- boton de busqueda  -->
                            <button><i class="fas fa-search icon"></i></button>
                        </div>
                    </form>

                    <!-- iconos carrito y login -->
                    <div class="carIcon-loginIcon-container">
                        <div class="cart-icon-conteiner">
                            <a href="/products/productCart"><i class="fas fa-shopping-cart icon"></i></a>
                        </div>
                        <div class="login-icon-container icon">
                            <a href="/login"> <i class="fas fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont-menu active" id="menu-burger">
            <ul>
                <li>
                    <div class="cart-register-login-breackpoint isLogged" id="isLogged">
                        <% if (locals.isLogged) { %>
                            <a href="/profile">
                                <img class="img-profile" src="/image/usersAvatar/<%= locals.userLogged.img_profile %>"
                                    alt="img_profile">
                            </a>
                            <h2 class="saludo-y-nombre">Hola, <%= locals.userLogged.full_name.split(' ')[0]  %>! </h2>
                        
                        <% } %>
                    <% if (locals.isLogged) { %>
                        <a href="/logout"><li class=" logout">Cerrar Sesi贸n <i class="fas fa-sign-out-alt icon-cart-responsive"></i></a></li>
                     
                    <% } %>
                    
                    <% if (!locals.isLogged) { %>
                        <a class="links-breackpoint" href="/register">REGISTRATE</a>
                        <p class="guion">-</p>
                        <a class="links-breackpoint" href="/login">INICIA SESION</a>
                    
                    <% } %>
        </li>
                <li><a href="#">
                    CATEGORIAS
                 
                    <ul>
                        <li >Acci贸n</li>
                        <li >Arcade</li>
                        <li >Carreras</li>
                        <li >Deportes</li>
                        <li >Disparos</li>
                        <li >Estrategia</li>
                    </ul>
                </li>
                <li>COMPATIBLES CON
                    <ul>
                        <ul>
                            <li>PS2</li>
                            <li>PS4</li>
                            <li>PS5</li>
                            <li>XBOX 360</li>
                            <li>XBOX ONE</li>
                            <li>NINTENDO SWITCH</li>
                        </ul>
                    </ul>
                </li>
               
                <li>NOVEDADES</li>
                <LI>OFERTAS</LI>
                <LI>ENVIOSA GRATIS</LI>
                <LI>CONTACTO</LI>
                <li> Cerrar Sesi贸n <% if (locals.isLogged) { %>
                    <a href="/logout"> <i class="fas fa-sign-out-alt icon-cart-responsive logout"></i></a>
                 
                <% } %></li>
            </ul>
    
        </div>
    </div>
    <div class="barra-division-mobile"></div>

   
    
    <!-- fin header mobile -->
    <div class="header-conteiner-2">
        <div class="logo-burger-cartShop-loginButton-conainer">

            <div class="burguer-logo-container">
                
                <!-- logo con nombre  -->
                <div class="logo-container">
                    <a href="/"> <img src="/image/logo-texto-oscuro.png" alt="logo digital games"></a>
                </div>

            </div>

            <div class="navbar-iconCart-iconUser">
                <!-- nav search icon button -->
                <form class="search-container">
                    <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                    <input class="input-search search-nav" type="text" placeholder="  Buscar productos, marcas...">
                    <div class="button-conteiner">
                        <!-- boton de busqueda  -->
                        <button><i class="fas fa-search icon"></i></button>
                    </div>
                </form>

                <!-- iconos carrito y login -->
                <div class="carIcon-loginIcon-container">
                    <div class="cart-icon-conteiner">
                        <a href="/products/productCart"><i class="fas fa-shopping-cart icon"></i></a>
                    </div>
                    <div class="login-icon-container icon">
                        <a href="/login"> <i class="fas fa-user"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Lista De Opciones -->
    <div class="menu-contenedor-breackpoint">
        <div class="menu-atajos">
            <nav class="main-nav">
                <ul class="menu">
                    <li class="menu__item button"><a href="/" class="menu__link">HOME</a></li>
                    <li class="menu__item container-submenu">
                        <a href="#" class="menu__link submenu-btn button cat">CATEGORIAS <i
                                class="fas fa-caret-down"></i></a>
                        <ul class="submenu" id="menu">
                            <li class="menu__item"><a href="" class="menu__link">Acci贸n</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Arcade</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Carreras</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Deportes</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Disparos</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Aventura</a></li>
                            <li class="menu__item"><a href="" class="menu__link">De Rol</a></li>
                            <li class="menu__item"><a href="" class="menu__link">MMORPG</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Terror</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Estrategia</a></li>
                        </ul>
                    </li>
                    <li class="menu__item container-submenu">
                        <a href="#" class="menu__link submenu-btn button cat">COMPATIBLES CON <i
                                class="fas fa-caret-down"></i></a>
                        <ul class="submenu" id="menu">
                            <li class="menu__item"><a href="" class="menu__link">PS3</a></li>
                            <li class="menu__item"><a href="" class="menu__link">PS4</a></li>
                            <li class="menu__item"><a href="" class="menu__link">PS5</a></li>
                            <li class="menu__item"><a href="" class="menu__link">XBOX 360</a></li>
                            <li class="menu__item"><a href="" class="menu__link">XBOX ONE</a></li>
                            <li class="menu__item"><a href="" class="menu__link">NINTENDO SWITCH</a></li>
                        </ul>
                    </li>
                    <li class="menu__item container-submenu">
                        <a href="" class="menu__link">FILTRAR <i class="fas fa-caret-down"></i></a>
                        <ul class="submenu">
                            <li class="menu__item"><a href="" class="menu__link">Novedades</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Ofertas</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Envio gratis</a></li>
                        </ul>
                    </li>
                    <% if (locals.isLogged && locals.userLogged.roles_id == 1) { %>
                    <div class="button-create-product-container">
                        <a href="http://localhost:3000/" target="_blank"><i class="fas fa-fw fa-tachometer-alt"></i> DASHBOARD</a> 
                    </div>
                    <div class="menu__link">
                        <a href="/products/createProduct"><button class=" "> CREAR PRODUCTO </button> </a> 
                    </div>
                    <% } %> 

                </ul>
            </nav>
            </span>
        </div>
        
        <div class="cart-register-login-breackpoint isLogged" id="isLogged">
            <% if (locals.isLogged) { %>
                <a href="/profile">
                    <img class="img-profile" src="/image/usersAvatar/<%= locals.userLogged.img_profile  %>" alt="img_profile">
                </a>
                <h2 class="saludo-y-nombre">Hola, <%= locals.userLogged.full_name.split(' ')[0]  %>! </h2>
                <p class="">-</p>
                
                <% } %>
            <a href="/products/productCart"><i class="fas fa-shopping-cart icon-cart-responsive"></i></a>
            <% if (locals.isLogged) { %>
                <a href="/logout"> <i class="fas fa-sign-out-alt icon-cart-responsive logout"></i></a>
             
            <% } %>
            
            <% if (!locals.isLogged) { %>
                <a class="links-breackpoint" href="/register">REGISTRATE</a>
                <p class="guion">-</p>
                <a class="links-breackpoint" href="/login">INICIA SESION</a>
            
            <% } %>

        </div>
    </div>

    <script src="js/header.js"></script>

</header>