<header>
<<<<<<< HEAD
    <div class="header-mobile">
        <div class="header-conteiner">
            <div class="logo-burger-cartShop-loginButton-conainer-mobile">

                <div class="burguer-logo-container">
                    <!-- menu hamburguesa -->
                    <div class="burger-container">
                        <i class="fas fa-bars icon"></i>
                    </div>


                </div>
                <!-- logo con nombre  -->
                <div class="logo-container-mobile">
                    <a href="/"> <img src="/image/logo-digital-games.png" alt="logo digital games"></a>
                </div>
                <div class="navbar-iconCart-iconUser">
                    <!-- nav search icon button -->
                    <form class="search-container">
                        <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                        <input class="input-search search-nav" type="text" placeholder="  Buscar productos, marcas...">
                        <div class="button-conteiner">
                            <!-- boton de busqueda  -->
                            <button><i class="fas fa-search icon"></i></button>
                        </div>
                    </form>

                    <!-- iconos carrito y login -->
                    <div class="carIcon-loginIcon-container">
                        <div class="cart-icon-conteiner">
                            <a href="/products/productCart"><i class="fas fa-shopping-cart icon"></i></a>
                        </div>
                        <div class="login-icon-container icon">
                            <a href="/login"> <i class="fas fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

=======
>>>>>>> 6afcbd780bb063580c416ab8cd143cc1f55e4962
    <div class="header-conteiner-2">
        <div class="logo-burger-cartShop-loginButton-conainer">

            <div class="burguer-logo-container">
                <!-- menu hamburguesa -->
                <div class="burger-container">
                    <i class="fas fa-bars icon"></i>
                </div>
<<<<<<< HEAD
=======

>>>>>>> 6afcbd780bb063580c416ab8cd143cc1f55e4962
                <!-- logo con nombre  -->
                <div class="logo-container">
                    <a href="/"> <img src="/image/logo-texto-oscuro.png" alt="logo digital games"></a>
                </div>
<<<<<<< HEAD

            </div>

=======
            </div>
>>>>>>> 6afcbd780bb063580c416ab8cd143cc1f55e4962
            <div class="navbar-iconCart-iconUser">
                <!-- nav search icon button -->
                <form class="search-container">
                    <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                    <input class="input-search search-nav" type="text" placeholder="  Buscar productos, marcas...">
                    <div class="button-conteiner">
                        <!-- boton de busqueda  -->
                        <button><i class="fas fa-search icon"></i></button>
                    </div>
                </form>

                <!-- iconos carrito y login -->
                <div class="carIcon-loginIcon-container">
                    <div class="cart-icon-conteiner">
                        <a href="/products/productCart"><i class="fas fa-shopping-cart icon"></i></a>
                    </div>
                    <div class="login-icon-container icon">
                        <a href="/login"> <i class="fas fa-user"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Lista De Opciones -->
    <div class="menu-contenedor-breackpoint">
        <div class="menu-atajos">
            <nav class="main-nav">
                <ul class="menu">
                    <li class="menu__item button"><a href="/" class="menu__link">HOME</a></li>
                    <li class="menu__item container-submenu">
                        <a href="#" class="menu__link submenu-btn button cat">CATEGORIAS <i
                                class="fas fa-caret-down"></i></a>
                        <ul class="submenu" id="menu">
                            <li class="menu__item"><a href="" class="menu__link">Acción</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Arcade</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Carreras</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Deportes</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Disparos</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Estrategia</a></li>
                        </ul>
                    </li>
                    <li class="menu__item container-submenu">
                        <a href="#" class="menu__link submenu-btn button cat">COMPATIBLES CON <i
                                class="fas fa-caret-down"></i></a>
                        <ul class="submenu" id="menu">
                            <li class="menu__item"><a href="" class="menu__link">PS2</a></li>
                            <li class="menu__item"><a href="" class="menu__link">PS4</a></li>
                            <li class="menu__item"><a href="" class="menu__link">PS5</a></li>
                            <li class="menu__item"><a href="" class="menu__link">XBOX 360</a></li>
                            <li class="menu__item"><a href="" class="menu__link">XBOX ONE</a></li>
                            <li class="menu__item"><a href="" class="menu__link">NINTENDO SWITCH</a></li>
                        </ul>
                    </li>
                    <li class="menu__item container-submenu">
                        <a href="" class="menu__link">FILTRAR <i class="fas fa-caret-down"></i></a>
                        <ul class="submenu">
                            <form action="/">
                                <input class="menu__link" type="checkbox" name="cat-otros" value="Novedades">Novedades
                                <br>
                                <input class="menu__link" type="checkbox" name="cat-otros" value="Ofertas">Ofertas
                                <br>
                                <input class="menu__link" type="checkbox" name="cat-otros" value="Envio Gratis">Envio
                                Gratis<br>
                                <input class="menu__link" type="checkbox" name="cat-otros"
                                    value="Cuotas sin interes">Cuotas sin interes <br>
                            </form>
                            <div class="button-filter-container">
                                <a href=""><button class="button-filter-search" type="submit">FILTRAR</button></a>
                            </div>
                        </ul>
                    </li>

                </ul>
            </nav>
            </span>
        </div>

        <div class="cart-register-login-breackpoint">
            <a href="/products/productCart"><i class="fas fa-shopping-cart icon-cart-responsive"></i></a>
            <p><br> </p>
            <a class="links-breackpoint" href="/register">REGISTRATE</a>
            <p class="guion">-</p>
            <a class="links-breackpoint" href="/login">INICIA SESION</a>

        </div>
    </div>

    <div class="barra-division-mobile"></div>

</header>